<%= render 'layouts/navbar' %>
<div class="container">
  <h2>Feed </h2>
  <% @feed_posts.each do |post| %>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title"><%= post.my_profile.user_name %></h4>
        <p class="card-text"><%= post.caption %></p>
        <% post.images.each do |image| %>
          <%= image_tag(image, class: "img-fluid") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
