<!-- app/views/layouts/_navbar.html.erb -->
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Your Logo</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
        </li>
        <li class="nav-item">
          <%= link_to 'Upload Image', upload_image_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Profile', show_my_profile_path, class: 'nav-link' %>
      </ul>
    </div>
  </div>
</nav>
